<!-- Home -->

<div class="flex flex-row h-screen mx-auto shadow-md">
  <div class="w-1/2 p-6 h-screen shadow-md">
    <!-- welcome text -->
    <div class="rounded-base p-4 align-center max-w-md mx-auto mb-7 text-center">
      <h1 class="text-2xl font-mono font-bold text-heading mb-2">Welcome Back</h1>
      <p class="text-gray-600">Sign in to continue to your account.</p>
    </div>

    <!-- log in form  -->
    <div>
      <form class="max-w-sm mx-auto">
        <div class="mb-5">
          <label for="email" class="block mb-2.5 text-sm font-medium text-heading"
            >Your email</label
          >
          <input
            [(ngModel)]="LoginObj.email"
            name="email"
            type="email"
            placeholder="you@example.com"
            id="email"
            class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-3 py-2.5 shadow-xs placeholder:text-body"
            required
          />
        </div>
        <div class="mb-5">
          <label for="password" class="block mb-2.5 text-sm font-medium text-heading"
            >Your password</label
          >
          <div class="relative">
            <input
              [(ngModel)]="LoginObj.password"
              name="password"
              [type]="showPassword ? 'text' : 'password'"
              id="password"
              class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-3 py-2.5 shadow-xs placeholder:text-body pr-10"
              placeholder="••••••••"
              required
            />

            <!-- Toggle button -->
            <button
              type="button"
              (click)="togglePassword()"
              class="absolute right-3 top-1/2 -translate-y-1/2 text-gray-500 hover:text-gray-700 cursor-pointer"
              aria-label="Toggle password visibility"
            >
              {{ showPassword ? '🙈' : '👁️' }}
            </button>
          </div>
        </div>
        <label for="remember" class="flex items-center mb-5"> </label>

        <button
          type="submit"
          (click)="LoginButton()"
          class="w-full text-white bg-black hover:bg-gray-800 focus:ring-4 focus:ring-brand-medium font-medium rounded-base text-sm px-5 py-2.5 text-center shadow-xs focus:outline-none"
        >
          Sign In
        </button>
        <div class="text-sm font-medium text-gray-500 mt-4 text-center">
          Not registered? <a href="#" class="text-brand hover:underline">Create account</a>
        </div>
      </form>
    </div>
  </div>

  <div class="relative w-1/2 h-screen shadow-md">
    <img
      src="https://media.istockphoto.com/id/2177135894/photo/the-inside-of-a-working-warehouse-dispatch-centre.jpg?s=2048x2048&w=is&k=20&c=dPVdMQVnnmbqXSY-eC2TVYeTmgK2RjyHQ6jyjAZBz_s="
      alt="Login background"
      class="h-screen brightness-50"
    />

    <div class="absolute inset-0 flex flex-col gap-6 items-center justify-center px-4 text-center">
      <h1 class="text-white font-bold text-2xl sm:text-3xl md:text-4xl">Elevate your style</h1>

      <p class="text-white text-base sm:text-lg md:text-xl max-w-xs sm:max-w-md">
        Discover curated collections of premium products designed for the modern lifestyle.
      </p>
    </div>
  </div>
</div>
