<!-- Home -->

<div class="flex flex-row h-screen mx-auto shadow-md">
  <div class="w-1/2 p-6 h-screen shadow-md">
    <!-- welcome text -->
    <div class="rounded-base p-4 align-center max-w-md mx-auto mb-7 text-center">
      <h1 class="text-4xl font-mono font-bold text-heading mb-2">Welcome Back</h1>
      <p class="text-gray-600 text-2xl">Sign in to your account to continue</p>
    </div>

    <!-- log in form  -->
    <div class="flex justify-center px-4">
      <form class="w-full max-w-sm sm:max-w-md lg:max-w-lg">
        <!-- Email -->
        <div class="inline-block w-full space-y-2 mb-5">
          <label for="email" class="font-semibold">Email</label>

          <div
            class="inline-block w-full p-0.5 rounded-2xl border-2 border-transparent focus-within:border-amber-500 transition mt-2"
          >
            <input
              [(ngModel)]="LoginObj.email"
              name="email"
              type="email"
              id="email"
              placeholder="you@example.com"
              required
              class="w-full py-2.5 px-4 rounded-xl outline-none border border-gray-300 bg-transparent"
            />
          </div>
        </div>

        <!-- Password -->
        <div class="inline-block w-full space-y-2 mb-5">
          <label for="password" class="font-semibold">Password</label>

          <div
            class="inline-block w-full p-0.5 rounded-2xl border-2 border-transparent focus-within:border-amber-500 transition mt-2 relative"
          >
            <input
              [(ngModel)]="LoginObj.password"
              name="password"
              [type]="showPassword ? 'text' : 'password'"
              id="password"
              placeholder="••••••••"
              required
              class="w-full py-2.5 px-4 pr-12 rounded-xl outline-none border border-gray-300 bg-transparent"
            />

            <!-- Toggle password -->
            <button
              type="button"
              (click)="togglePassword()"
              class="absolute right-4 top-1/2 -translate-y-1/2 text-gray-400 hover:text-gray-700"
            >
              @if (showPassword) {
                <!-- eye -->
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-5 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    d="M2.062 12.348a1 1 0 010-.696 10.75 10.75 0 0119.876 0 1 1 0 010 .696 10.75 10.75 0 01-19.876 0Z"
                  />
                  <circle cx="12" cy="12" r="4" />
                </svg>
              } @else {
                <!-- eye off -->
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-5 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path d="m2 2 20 20" />
                  <path
                    d="M2.062 12.348a1 1 0 010-.696 10.75 10.75 0 0119.876 0 1 1 0 010 .696 10.75 10.75 0 01-19.876 0Z"
                  />
                  <circle cx="12" cy="12" r="4" />
                </svg>
              }
            </button>
          </div>
        </div>

        <!-- Submit -->
        <button
          type="submit"
          (click)="LoginButton()"
          class="w-full text-white bg-black hover:bg-gray-800 font-medium rounded-xl text-sm px-5 py-2.5 shadow-xs focus:outline-none"
        >
          Sign In
        </button>

        <!-- Footer -->
        <div class="text-sm font-medium text-gray-500 mt-5 text-center">
          Not registered?
          <a href="#" class="text-amber-500 hover:underline">Create account</a>
        </div>
      </form>
    </div>
  </div>

  <div class="relative w-1/2 h-screen shadow-md">
    <img
      src="https://media.istockphoto.com/id/2177135894/photo/the-inside-of-a-working-warehouse-dispatch-centre.jpg?s=2048x2048&w=is&k=20&c=dPVdMQVnnmbqXSY-eC2TVYeTmgK2RjyHQ6jyjAZBz_s="
      alt="Login background"
      class="h-screen brightness-50"
    />

    <div class="absolute inset-0 flex flex-col gap-3 items-center justify-center px-4 text-center">
      <h1 class="text-white font-bold text-2xl sm:text-3xl md:text-4xl">Elevate your style</h1>

      <p class="text-white text-base sm:text-lg md:text-xl max-w-xs sm:max-w-md">
        Discover curated collections of premium products designed for the modern lifestyle.
      </p>
    </div>
  </div>
</div>
